{{define "title"}} Recipe #{{.Recipe.ID}} {{end}} {{define "main"}}

<main class="container mx-auto p-4 flex-1">
    {{with .Recipe}}

    <article class="bg-white p-6 rounded-lg shadow-md">
        <header class="mb-4">
            <h2 class="text-3xl font-bold mb-2">{{.Name}}</h2>
            <p class="text-gray-600">By Author Name | Date Published</p>
            <p class="text-sm text-gray-700">
                {{.CreatedAt | humanDate | printf "Created: %s"}}
            </p>
            <p class="text-sm text-gray-700">
                {{.UpdatedAt | humanDate | printf "Updated: %s"}}
            </p>
            <p class="text-sm text-gray-700">
                {{.CookingTime | printf "Time to Cook: %d mins"}}
            </p>
        </header>
        <img
            src="{{ if .Image }}{{ .Image }}{{ else }}https://storage.googleapis.com/deliciousness-recipes/stock.jpg{{ end }}"
            alt="{{ .Name }}"
            class="w-full h-64 object-cover rounded-lg mb-4"
        />
        <section class="mb-6">
            <h3 class="text-2xl font-semibold mb-2">Ingredients</h3>
            <ul class="list-disc list-inside">
                {{.Ingredients}}
            </ul>
        </section>
        <section class="mb-6">
            <h3 class="text-2xl font-semibold mb-2">Instructions</h3>
            <ol class="list-decimal list-inside">
                {{.Instructions}}
            </ol>
        </section>
        <section>
            <h3 class="text-2xl font-semibold mb-2">Notes</h3>
            <p class="text-gray-700">
                Additional notes or tips about the recipe.
            </p>
        </section>
    </article>

    {{end}}
</main>

{{end}}
