{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
        <!-- <link rel="stylesheet" href="/static/css/main.css" /> -->
        <link
            rel="shortcut icon"
            href="/static/img/favicon.ico"
            type="image/x-icon"
        />
        <!-- <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700"
        /> -->
        <title>{{template "title" .}}</title>
    </head>
    <body class="bg-gray-100 text-gray-900">
        {{template "nav" .}} {{template "main" .}} {{block "sidebar" .}}
        <!-- <p>My default sidebar content</p> -->
        {{end}}

        <footer class="bg-green-600 text-white p-4">
            <div class="container mx-auto text-center">
                <p>
                    &copy; {{.CurrentYear}} Delicious Recipes. All rights
                    reserved.
                </p>
            </div>
        </footer>
        <!-- <script src="/static/js/main.js" type="text/javascript"></script> -->
    </body>
</html>
{{end}}
